<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="layout"
            value="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true} | ${message} ${exception:format=ToString,Data}" />

  <targets>
    <target xsi:type="Console" name="console" layout="${layout}" />

    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/krosdemo-${shortdate}.log"
            layout="${layout}"
            keepFileOpen="true"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />
  </targets>

  <rules>
    <!-- Microsoft framework chatter only at Warning+ -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- Everything else: Info+ to both targets -->
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>